.about {
    margin-top: 60px;
}

.about__title{
    font-family:var(--ff);
font-weight: 400;
font-size: 40px;
line-height: 100%;
text-transform: uppercase;
color: var(--black);
}

.about__text1{
    font-family: var(--ff);
font-weight: 400;
font-size: 24px;
line-height: 100%;
color: var(--black);
margin-top: 40px;
margin-bottom: 20px;
}

.about__text2{
    font-family: var(--ff);
font-weight: 400;
font-size: 16px;
line-height: 100%;
color: var(--gray);
margin-bottom: 60px;
}

.about__image img{
     width: 100%;
  height: 100%;
  object-fit: cover;
}