.about {
    margin-top: 60px;
}

.about__title{
    font-family:var(--ff);
font-weight: 400;
font-size: 40px;
line-height: 100%;
text-transform: uppercase;
color: var(--black);
}

.about__text1{
    font-family: var(--ff);
font-weight: 400;
font-size: 24px;
line-height: 100%;
color: var(--black);
margin-top: 40px;
margin-bottom: 20px;
}

.about__text2{
    font-family: var(--ff);
font-weight: 400;
font-size: 16px;
line-height: 100%;
color: var(--gray);
margin-bottom: 60px;
}

.about__image img{
     width: 100%;
  height: 100%;
  object-fit: cover;
}


@media (max-width: 1024px) {

    .about__wrap {
        display: flex;
        flex-direction: column; 
        gap: 25px;
        padding: 50px 20px;
    }

    .about__title {
        font-size: 32px;
        gap: 18px;
    }

    .about__title svg {
        width: 120px;
        height: 3px;
        margin-left: 12px;
    }

    .about__text1 {
        font-size: 24px;
        margin-bottom: 12px;
    }

    .about__text2 {
        font-size: 16px;
        line-height: 1.5;
        margin-top: 20px;
    }

    .about__image img {
        width: 100%;
        height: 350px;
        object-fit: cover;
    }
}

@media (max-width: 768px) {

    .about__wrap {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 40px 15px;
    }

    .about__title {
        font-size: 28px;
        gap: 15px;
    }

    .about__title svg {
        width: 100px;
        height: 3px;
        margin-left: 10px;
    }

    .about__text1 {
        font-size: 18px;
        margin-bottom: 8px;
    }

    .about__text2 {
        font-size: 14px;
        line-height: 1.4;
        margin-top: 16px;
    }

    .about__image img {
        width: 100%;
        height: 300px;
        object-fit: cover;
    }
}



@media (max-width: 480px) {

    .about__wrap {
        display: flex;
        flex-direction: column; 
        gap: 20px;
        padding: 40px 15px;
    }

    .about__title {
        font-size: 28px;
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .about__title svg {
      width: 100px;
        height: 3px;
        margin-left: 15px;
        vertical-align: middle;
    }

    .about__text1 {
        font-size: 18px;
        margin-bottom: 8px;
    }

    .about__text2 {
        font-size: 14px;
        line-height: 1.4;
        margin-top: 20px;
    }

    .about__image img {
        width: 100%;
        height: 300px;;
        object-fit: cover;
    }
}
