.bestsellers__title {
    font-family: var(--ff);
font-weight: 400;
font-size: 40px;
line-height: 100%;
text-transform: uppercase;
color: var(--black);
}

.bestsellers__text1{
    font-family: var(--ff);
font-weight: 400;
font-size: 24px;
line-height: 100%;
letter-spacing: 0%;
color: var(--black);
margin-top: 40px;
margin-bottom: 20px;
}

.bestsellers__text2{
    font-family:var(--ff);
font-weight: 400;
font-size: 16px;
line-height: 100%;
color: var(--gray);
}