.bestsellers__title {
    font-family: var(--ff);
font-weight: 400;
font-size: 40px;
line-height: 100%;
text-transform: uppercase;
color: var(--black);
}

.bestsellers__text1{
    font-family: var(--ff);
font-size: 24px;
line-height: 100%;
letter-spacing: 0%;
color: var(--black);
margin-top: 40px;
margin-bottom: 20px;
}

.bestsellers__text2{
    font-family:var(--ff);
font-size: 16px;
line-height: 100%;
color: var(--gray);
}


.bestsellers__grid{
     display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
        margin-top: 60px;
}

.bestsellers__card {
    position: relative;
     overflow: hidden;
}

.bestsellers__card img {
    width: 552px;
    height: 800px;
    display: block;
}

.bestsellers__info {
    position: absolute;
    bottom: 20px;
    left: 24px;
        color: var(--white);
    font-family: var(--ff);
    z-index: 2;
}



.bestsellers__meta {
    font-size: 12px;
    margin-top: 8px;
    opacity: 0.8;
}

.bestsellers__price {
    font-size: 14px;
    margin-top: 10px;
    text-transform: uppercase;
}


.bestsellers__badge {
    position: absolute;
    top: 20px;
    left: 20px;
    background: var(--black);
    color:var(--white);
    padding: 17px 40px;
    z-index: 3;
    font-family: var(--ff);
font-weight: 400;
font-size: 24px;
line-height: 100%;
text-transform: uppercase;
}

.bestsellers__name{
    font-family: var(--ff);
font-weight: 400;
font-size: 24px;
line-height: 100%;
text-transform: uppercase;
 margin-bottom: 20px;
 color: var(--white);
 
}

.bestsellers__meta{
    font-family:var(--ff);
font-weight: 400;
font-size: 16px;
line-height: 100%;
text-transform: uppercase;
margin-bottom: 40px;
 color: var(--white);
}

.bestsellers__price{
font-family:var(--ff);
font-weight: 400;
font-size: 24px;
line-height: 100%;
text-transform: uppercase;
 color: var(--white);
}

.bestsellers__button{
    display: inline-block;
    padding: 26px 80px;
    background: var(--white);
    color: var(--black);
    font-family: var(--ff);
font-weight: 400;
font-size: 24px;
line-height: 100%;
margin-top: 20px;
}

.bestsellers__icons {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  gap: 14px;
  z-index: 5;
}

.bestsellers__icons img {
  width: 60px;
  height: 60px;
  background: var(--white);
  padding: 19px;
  cursor: pointer;
}

@media (max-width: 768px) {
    .bestsellers__grid {
        grid-template-columns: 1fr; 
        gap: 20px;
        margin-top: 40px;
    }

    .bestsellers__card {
        width: 100%;
        height: 380px; 
        display: flex;
        flex-direction: column;
        gap: 8px;
        overflow: hidden;
        position: relative;
    }

     .bestsellers__info {
        bottom: 16px;
        left: 16px;
        right: 16px;
    }

    .bestsellers__badge {
          top: 20px;
        left: 20px;
        font-size: 18px;
        padding: 14px 36px;
        color: var(--white);
    }

    .bestsellers__icons {
        top: 20px;
        right: 217px;
        display: flex;
        gap: 10px;
    }

    .bestsellers__icons img {
        width: 35px;
        height: 35px;
        padding: 10px;
    }

    .bestsellers__name {
        font-size: 22px;
        margin-bottom: 5px;
    }

    .bestsellers__meta {
        font-size: 18px;
        margin-bottom: 15px;
        line-height: 1.3;
    }

    .bestsellers__price {
        font-size: 22px;
    }

    .bestsellers__button {
        padding: 25px 79px;      
        font-size: 20px;
        background: var(--white);
        color: var(--black);
        cursor: pointer;    
        margin-top: 20px;        
            align-self: flex-start;
    }

    .bestsellers__title {
        font-size: 28px;
        gap: 20px;
    }

    .bestsellers__text1 {
        font-size: 18px;
        margin-top: 40px;
    }

    .bestsellers__text2 {
        font-size: 14px;
        margin-top: 20px;
    }

    .bestsellers__title svg {
        width: 100px;
        height: 3px;
        margin-left: 15px;
        vertical-align: middle;
    }
} 


   

 @media (max-width: 480px) {

    .bestsellers__grid {
        grid-template-columns: 1fr;
        gap: 18px;
        margin-top: 40px;
    }

     .bestsellers__card {
        position: relative;
        width: 100%;
        height: 450px; 
        overflow: hidden;
         display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .bestsellers__info {
        bottom: 16px;
        left: 16px;
        right: 16px;
    }

    .bestsellers__badge {
          top: 20px;
        left: 20px;
        font-size: 18px;
        padding: 14px 36px;
        color: var(--white);
    }

    .bestsellers__icons {
        top: 20px;
        right: 20px;
        position: absolute;
        display: flex;
        gap: 10px;
    }

    .bestsellers__icons img {
        width: 35px;
        height: 35px;
        padding: 10px;
    }

    .bestsellers__name {
        font-size: 22px;
        margin-bottom: 5px;
    }

    .bestsellers__meta {
        font-size: 18px;
        margin-bottom: 15px;
        line-height: 1.3;
    }

    .bestsellers__price {
        font-size: 22px;
    }

    .bestsellers__button {
        padding: 25px 79px;      
        font-size: 20px;
        background: var(--white);
        color: var(--black);
        cursor: pointer;    
        margin-top: 20px;        
            align-self: flex-start;
    }

    .bestsellers__title {
        font-size: 28px;
        gap: 20px;
    }

    .bestsellers__text1 {
        font-size: 18px;
        margin-top: 40px;
    }

    .bestsellers__text2 {
        font-size: 14px;
        margin-top: 20px;
    }

    .bestsellers__title svg {
        width: 100px;
        height: 3px;
        margin-left: 15px;
        vertical-align: middle;
    }
} 
