.footer{
      display: flex;
    justify-content: space-between; 
    align-items: flex-start;
    padding: 157px 0 158px;
     position: relative;
    flex-direction: column; 
}

.footer__line {
    width: 100%;  
    height: 2px;   
    background-color: var(--black); 
    margin-bottom: 0;
}

.footer__container {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

.footer__nav {
   margin-top: 157px;
} 

.footer__nav-list {
    display: flex;
    gap: 236px;
     margin: 0;
    padding: 0;
list-style: none;
}

.footer__nav-list li a {
    text-decoration: none;
    color: var(--black); 
    font-family: var(--ff);
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    transition: 0.3s;
}


.footer__column {
     display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 24px; 
}

.footer__title{
    font-family: var(--ff);
font-weight: 400;
font-size: 24px;
line-height: 90%;
color: var(--black);

}

.footer__social {
    display: flex;
   gap: 40px;
}