.gallery {
    margin-top: 80px;
}

.gallery__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.gallery__card {
    position: relative;
     overflow: hidden;
}

.gallery__card:nth-child(3) {
    grid-row: span 2;
}
.gallery__card:nth-child(2) {
    grid-column: 1;
    grid-row: 2;
}

.gallery__card img {
    width: 100%;
    display: block;
}

.gallery__info {
    position: absolute;
    bottom: 20px;
    left: 24px;
    color: var(--ff);
    font-family: var(--ff);
    z-index: 2;
}

.gallery__name {
    font-size: 16px;
    text-transform: uppercase;
}

.gallery__meta {
    font-size: 12px;
    margin-top: 8px;
    opacity: 0.8;
}

.gallery__price {
    font-size: 14px;
    margin-top: 10px;
    text-transform: uppercase;
}


.gallery__badge {
    position: absolute;
    top: 24px;
    left: 24px;
    background: var(--black);
    color:var(--white);
    padding: 17px 40px;
    font-size: 14px;
    z-index: 3;
    font-family: var(--ff);
font-weight: 400;
font-size: 24px;
line-height: 100%;
text-transform: uppercase;
}

.gallery__name{
    font-family: var(--ff);
font-weight: 400;
font-size: 24px;
line-height: 100%;
text-transform: uppercase;
 margin-bottom: 20px;
 color: var(--white);
}

.gallery__meta{
    font-family:var(--ff);
font-weight: 400;
font-size: 16px;
line-height: 100%;
text-transform: uppercase;
margin-bottom: 40px;
 color: var(--white);
}

.gallery__price{
font-family:var(--ff);
font-weight: 400;
font-size: 24px;
line-height: 100%;
text-transform: uppercase;
 color: var(--white);
}


@media (max-width: 480px) {

    .gallery__grid,
    .bestsellers__grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 18px;
    }

    .gallery__card,
    .bestsellers__card {
        position: relative;
        display: flex;
        flex-direction: column;
    }

    .gallery__info,
    .bestsellers__info {
        display: flex;
        flex-direction: column;
        gap: 6px;
    }

    .gallery__price,
    .bestsellers__price {
        margin-top: 6px;
    }

    .bestsellers__button {
        margin-top: 10px;
    }
.gallery__badge,
.bestsellers__badge {
    position: absolute;
    top: 10px;
    left: 10px;

    font-size: 12px;
    padding: 4px 8px;
    border-radius: 6px;

    background: #000;
    color: #fff;
}
.gallery__badge,
    .bestsellers__badge {
        font-size: 11px;
        padding: 3px 7px;
        border-radius: 5px;
    }

    .bestsellers__icons {
    position: absolute;
    top: 10px;
    right: 10px;

    display: flex;
    gap: 6px;
}

.bestsellers__icons img {
    width: 20px;
    height: 20px;
}

}


@media (max-width: 480px) {
    .bestsellers__icons img {
        width: 18px;
        height: 18px;
    }

    .gallery__name,
.bestsellers__name {
    line-height: 1.2;
}

.gallery__meta,
.bestsellers__meta {
    line-height: 1.3;
}

.bestsellers__info {
    flex-grow: 1;
}

.bestsellers__button {
    margin-top: auto;
}


}
