.gallery {
    margin-top: 80px;
}

.gallery__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.gallery__card {
    position: relative;
     overflow: hidden;
}

.gallery__card:nth-child(3) {
    grid-row: span 2;
}
.gallery__card:nth-child(2) {
    grid-column: 1;
    grid-row: 2;
}

.gallery__card img {
    width: 100%;
    display: block;
}

.gallery__info {
    position: absolute;
    bottom: 20px;
    left: 24px;
    color: var(--ff);
    font-family: var(--ff);
    z-index: 2;
}

.gallery__name {
    font-size: 16px;
    text-transform: uppercase;
}

.gallery__meta {
    font-size: 12px;
    margin-top: 8px;
    opacity: 0.8;
}

.gallery__price {
    font-size: 14px;
    margin-top: 10px;
    text-transform: uppercase;
}


.gallery__badge {
    position: absolute;
    top: 24px;
    left: 24px;
    background: var(--black);
    color:var(--white);
    padding: 17px 40px;
    font-size: 14px;
    z-index: 3;
    font-family: var(--ff);
font-weight: 400;
font-size: 24px;
line-height: 100%;
text-transform: uppercase;
}

.gallery__name{
    font-family: var(--ff);
font-weight: 400;
font-size: 24px;
line-height: 100%;
text-transform: uppercase;
 margin-bottom: 20px;
 color: var(--white);
}

.gallery__meta{
    font-family:var(--ff);
font-weight: 400;
font-size: 16px;
line-height: 100%;
text-transform: uppercase;
margin-bottom: 40px;
 color: var(--white);
}

.gallery__price{
font-family:var(--ff);
font-weight: 400;
font-size: 24px;
line-height: 100%;
text-transform: uppercase;
 color: var(--white);
}
